@use "../generales/variables" as*;
.avatar {
    @include flex;
    padding-top: 2rem;

    &-img {
        width: 230px;
        height: 260px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $sombras;
        background-color: #ff00bf15;
    }
}