@use "../generales/variables" as*;
.h2Habilidades {
    text-align: center;
    padding-bottom: 2rem;
    color: $color-rosa-1;
    font-size: 1.5rem;
}
.sectionHabilidades { 
    padding-bottom: 4rem; 
    
    .articleHabilidades {
        @include flex;
        gap: 30px;
        padding-bottom: 2rem;

        figure img {
            width: 50px;
            height: 50px;
            box-shadow: $sombras;
            padding: 10px;
        }
    }
}


