@use "../generales/variables" as*;
header {
    display: flex;
    justify-content: end;
    border-bottom: $border-footer solid 1px;
    .nav {
        a {
            @include flex;
            width: 150px;
            border: $border-nav solid 1px;
            border-radius: 30px;
            font-size: 1.2rem;
            text-decoration: none;
            color: $color-texto;
            transition: 1s;
            &:hover{
            background-color: $color-rosa-1;
            color: black;
            transform: scale(1.1);
        }
        }
        .nav-li { 
            gap: 2rem; 
        }
        .activo { 
            color: $color-rosa-2 !important; 
        }
        .boton {
            border: $color-rosa-1 solid 1px;
            background-color: $color-rosa-1;
            margin-bottom: 2rem;
        }
    }
}