.articlePresentacion {
    text-align: center;
    padding: 2rem;
    color: $color-text;

    .saludo {
        font-size: 2rem;
        span { color: $color-active; }
    }

    .rol { color: #686868; font-size: 1.6rem; }
    strong { color: $color-accent; }
    .descripcion { padding: 1rem; font-size: 1.3rem; }
}

.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;

    .presentacion {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 1100px;
        align-items: center;
        text-align: left;
    }
}