@use "../generales/variables" as*;
.articlePresentacion {
    text-align: center;
    padding: 2rem;
    color: $color-texto;

    .saludo {
        font-size: 2rem;
        span { 
            color: $color-rosa-2;
        }
    }

    .rol { 
        color: #686868; 
        font-size: 1.6rem; 
    }
    strong { 
        color: $color-rosa-1; 
    }
    .descripcion { 
        padding: 1rem; 
        font-size: 1.3rem; 
    }
}

.section-principal {
    @include flex;

    .presentacion {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 1100px;
        align-items: center;
        text-align: left;
    }
}