@use "../generales/variables" as*;
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 4rem; 
    .card {
        padding: 1rem;
        text-align: center;
        background-image: $background;
        border: 0;
        width: 22rem;
        color: $color-texto;
        .btn-proyecto{
            background-color: $color-rosa-2;
        }
    }
}
